<div class="form-wrapper">

  <div class="form-card">

    <h2 class="title">
      Formulario de Registro
    </h2>

    <div class="divider"></div>
    
    <form [formGroup]="form" (ngSubmit)="saveProduct()" class="form-grid">

      <!-- ID -->
      <div class="form-group">
        <label>ID</label>

        <input
          formControlName="id"
          (blur)="validateId()"
        >

        <div class="error" *ngIf="form.get('id')?.touched && form.get('id')?.invalid">
          <small *ngIf="form.get('id')?.errors?.['required']">
            ID requerido
          </small>

          <small *ngIf="form.get('id')?.errors?.['minlength']">
            Mínimo 3 caracteres
          </small>

          <small *ngIf="form.get('id')?.errors?.['maxlength']">
            Máximo 10 caracteres
          </small>

          <small *ngIf="form.get('id')?.errors?.['idExists']">
            ID no válido
          </small>
        </div>
      </div>

      <!-- Nombre -->
      <div class="form-group">
        <label>Nombre</label>

        <input formControlName="name">

        <div class="error" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
          <small *ngIf="form.get('name')?.errors?.['required']">
            Campo requerido
          </small>

          <small *ngIf="form.get('name')?.errors?.['minlength']">
            Mínimo 5 caracteres
          </small>
        </div>
      </div>


      <!-- Descripción -->
      <div class="form-group">
        <label>Descripción</label>

        <input formControlName="description">

        <div class="error" *ngIf="form.get('description')?.touched && form.get('description')?.invalid">
          <small *ngIf="form.get('description')?.errors?.['required']">
            Este campo es requerido
          </small>
          <small *ngIf="form.get('description')?.errors?.['minlength']">
            Mínimo 10 caracteres
          </small>
          <small *ngIf="form.get('description')?.errors?.['minlength']">
            Mínimo 200 caracteres
          </small>
        </div>
      </div>


      <!-- Logo -->
      <div class="form-group">
        <label>Logo</label>

        <input formControlName="logo">

        <div class="error" *ngIf="form.get('logo')?.touched && form.get('logo')?.invalid">
          <small>Este campo es requerido</small>
        </div>
      </div>


      <!-- Fecha liberación -->
      <div class="form-group">
        <label>Fecha Liberación</label>

        <input
          type="date"
          formControlName="date_release"
        >
      </div>

      <!-- Fecha revisión -->
      <div class="form-group">
        <label>Fecha Revisión</label>
        <input
          type="date"
          formControlName="date_revision"
        >
      </div>

    </form>

    <!-- Botones -->
    <div class="buttons">

      <button type="button" (click)="cancel()">
        Cancelar
      </button>

      <button
        type="button"
        class="btn-reset"
        (click)="resetForm()"
      >
        Reiniciar
      </button>

      <button
        type="submit"
        class="btn-submit"
        [disabled]="form.invalid"
        (click)="saveProduct()"
      >
        Enviar
      </button>

    </div>

  </div>

</div>


<pre>{{ form.value | json }}</pre>
<pre>{{ form.status }}</pre>